<h1 class="page-header">
  编辑课件
  <small class="pull-right">
    <a href="<%= admin_photo_path(@photo) %>" title="显示" class="btn btn-default">
      <i class="icon-eye-open icon-only"></i></a>
    <a href="<%= "#{admin_photos_path}?type_id=#{@photo.type_id}" %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>
