<h1 class="page-header">
  新增课件
  <small class="pull-right">
    <a href="<%= "#{admin_photos_path}?td=#{params[:td]}" %>" class="btn btn-default" title="列表">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>