<div class="user-center-menu ucm">
  <ul class="horizontal-ul ucm-list">
    <li class="ucm-item">
      <a href="">个人信息</a>
    </li>
    <li class="ucm-item">
      <a href="">报名信息</a>
    </li>
    <li class="ucm-item">
      <a href="">个人管理</a>
    </li>
    <li class="ucm-item">
      <a href="">消息通知</a>
    </li>
    <li class="ucm-item">
      <a href="">我的积分</a>
    </li>
    <li class="ucm-item">
      <a href="">调戏小豆</a>
    </li>
  </ul>
</div>