<div class="container">
  <div class="row">
    <div class="user-center">
      <div class="main-title">
        个人中心
      </div>
      <%= render 'user/menu' %>
      <div class="user-main">
        <%= render 'user/tab' %>
        <div class="sub-content">
          <div class="sub-header">添加邮箱</div>
          <iframe src="<%= %>" frameborder="0" border="0" cellspacing="0" width="400" height="300"></iframe>

        </div>
      </div>
    </div>
  </div>
</div>



