<div class="container">
  <div class="user-center">
    <div class="main-title">
      个人中心
    </div>
    <%= render 'user/avatar' %>
    <%= render 'user/menu' %>
    <div class="user-main">
      <%= render 'user/tab' %>
      <p>昵称：<%= @user_info.nickname %></p>
    </div>
  </div>
</div>