<div class="container">
  课程名:<%= @course.name %>
  <p><%= @course.course_star.split(',') %></p>
  <hr>
  课时:
  <% if @lessons.present? %>
      <% @lessons.each do |l| %>
          <%= l.name %>
      <% end %>
  <% end %>
</div>