<h1 class="page-header">
  添加课程表
</h1>

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
          <div class="col-sm-9">
            <div class="space"></div>

            <div id="calendar"></div>
          </div>

          <div class="col-sm-3">
            <div class="widget-box transparent">
              <div class="widget-header">
                <h4>拖动课时</h4>
              </div>

              <div class="widget-body">
                <div class="widget-main no-padding">
                  <div id="external-events">
                    <div class="external-event label-grey" data-class="label-grey">
                      <i class="icon-move"></i>
                      课时1
                    </div>

                    <div class="external-event label-success" data-class="label-success">
                      <i class="icon-move"></i>
                      课时2
                    </div>

                    <div class="external-event label-danger" data-class="label-danger">
                      <i class="icon-move"></i>
                      课时3
                    </div>

                    <label>
                      <input type="checkbox" class="ace ace-checkbox" id="drop-remove"/>
                      <span class="lbl"> 拖动后移除</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div><!-- /.row -->

