/*
*= require bootstrap.min
*= require font-awesome.min
*= require admin/fullcalendar
*= require admin/jquery.gritter
*= require admin/chosen
*= require admin/colorbox
*= require admin/ace.min
*= require admin/ace-rtl.min
*= require admin/ace-skins.min
*= require admin/lay-style
*= require admin/datepicker
*= require admin/bootstrap-timepicker
*/