body {
  background: #fff;
  color: #666;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

.container-fluid {
  margin: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.horizontal-ul {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  & > li {
    float: left;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #fff;
  border-top: 5px solid;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}