body {
  background: #fff;
  color: #666;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

.container-fluid {
  margin: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.horizontal-ul {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  & > li {
    float: left;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #fff;
  border-top: 5px solid;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border-color: #FFA178;
  box-shadow: 0 1px 1px rgba(217,88,32,1) inset, 0 0 8px rgba(217,88,32,1);
  outline: 0 none;
}

.form-group input[type="text"],.form-group select{
  border:1px solid #FFA178;
  border-radius:2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-dome{
  background-color: #FFA178;
  border-color: #FFA178;
  width: 135px;
  height: 40px;
  font-size: 20px;
  color:white;
}

label{
  font-size: 20px;
}

.form-group select {
  background: image-url('triangle.png') no-repeat 90% 50% #fefefe;
}
