<%= simple_form_for(@news, url: "/admin/news/#{params[:news_id]}/images?index=#{params[:id]}", method: :post) do |f| %>
    <%= f.error_notification %>
    <div class="row">

      <div class="col-xs-6">
        <div class="form-inputs">
          <%= f.file_field :images, multiple: true %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit class: 'btn btn-primary add-news-images-submit', value: '提交', 'data-disable-with' => '提交' %>
    </div>
<% end %>

